/* Reset default styles for all elements*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set the base styles for the body*/
body {
  font-family: "Raleway", sans-serif;
  background: linear-gradient(to bottom, #8ec5e0, #4397c9);
}

/* Style the header section */
.header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #111;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Style the form section */
.form {
  padding: 50px 20px;
  background: #f0f5f8;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Style the form elements section */
.form > div {
  width: 400px;
  margin: 10px auto;
}

.form .form-element input,
.form .form-element button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form .form-element input:focus {
  outline: none;
  border-color: #6cb2e0;
  box-shadow: 0 0 6px rgba(108, 178, 224, 0.5);
}

.form .form-element button {
  background: #111;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form .form-element button:hover {
  background-color: #0a0a0a;
}

/* Style the result section */
.form .result {
  text-align: center;
  border-top: 1px solid #ccc;
  margin-top: 5px;
  padding-top: 10px;
}

/* Style the list section */
.list {
  width: 800px;
  margin: 40px auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.list h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.list table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.list table thead tr {
  background: #555;
  color: #fff;
}

.list table thead tr th,
.list table tbody tr td {
  padding: 10px;
}

.list table tbody tr:nth-child(odd) {
  background: #f5f5f5;
}
